body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .score{
    display: block;
    font-size: 20px;
  }

  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    height: 20px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 20px;
  }
  
  .square-snake {
    background: #000;
    border: 1px solid #999;
    float: left;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    height: 20px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 20px;
  }
  
  .square-nom {
    background: #aaa;
    border: 1px solid #999;
    float: left;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    height: 20px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 20px;
  }
  
  .poop {
    font-size: 212px;
  }

  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game-board {
    outline: none
  }

  .title {
    color: green;
    font-size: 20px;
  }

  .snake-emoji{
    font-size: 212px;
  }
